body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #19181c;
    color: #e4e4e4;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #2d0b14 0%, #420d16 100%);
    color: #fa3946;
    padding: 45px 0 25px 0;
    text-align: center;
    box-shadow: 0 6px 24px #000b;
    position: relative;
}

.logo-mithic {
    width: 240px;
